$(function(){
  $('#extra_options').hide();
  <% if @dupe %>
   	$('body').append('<div class="notify">Duplicate. Already added</div>');
	$('.notify').fadeOut(1100); 
  <% elsif @list_not_found %>
	$('body').append('<div class="notify">Error. List was not found</div>');
	$('.notify').fadeOut(1100);
  <% else %>
	$('body').append('<div class="notify">Added to list</div>');
	$('.notify').fadeOut(650);
  <% end %>

});

