<style>
ul#search_action_choices > li {
  list-style: none;
  display: inline-block;
}
form#static_search_form {
  width: 270px;
}
</style>

<div id="generic_search_search_bar" style="width:300px; max-width: 80%;">
  <div style="float: left; padding: 10px 10px 10px 10px;">
  Search
  </div>
  <div style="float: left;">
  <ul id="search_action_choices">
    <li><a href="#" onclick="choose_action('/search/recipes', this)">Recipes</a></li> |
    <li><a href="#" onclick="choose_action('/search/groups', this)" style="font-weight: bold;">Groups</a></li> |
    <li><a href="#" onclick="choose_action('/search/posts', this)">Posts</a></li> |
    <li><a href="#" onclick="choose_action('/search/members', this)">Members</a></li>
  </ul>
  
  <br>
  <div class="search" style="clear: both;"> 
    <form id="static_search_form" class="search-form" method="get" action="/search/groups" accept-charset="UTF-8">
      <div style="display:none">
        <input type="hidden" value="✓" name="utf8"></input>
      </div>
        <input id="search_params" type="text" placeholder="Something awesome!" name="search_params"></input>
        <button type="submit" class="search_bttn"><%= image_tag("search_black.png") %></button>
    </form>
  </div> 
  </div>
</div> 

<script>
function choose_action(action, element){
  var a = document.getElementById("search_action_choices").getElementsByTagName("a");
  for(var i = 0; i < a.length; i++){
    a[i].style.fontWeight= "normal";
  }
  element.style.fontWeight= "bold";
  var form = document.getElementById("static_search_form");
  form.action=action;
}
</script>

