<div class="content_wrapper_main">
  <h1>About This Project...</h1>
  <p>
  Hello friends! We started this recipe sharing site because we wanted a way to share our recipes with impunity. No pressure. Everything goes in here. I can add microwave recipes, siracha recipes, recipes where half of the ingredients are store-bought and don't have to cook, whatever. Even recipes with hot cheetos.
  <br><br>
  I might put something that uses bacon fat. It's glorious. 
  <br><br>
  Now, back to business -- we are in development/alpha testing stage. That means that sometimes you'll hit bugs and some nasty pages. That is because we are still in a development environment. Be patient, and text me or email me if you hit a bug. You, our tester, will play an incredibly significant part in our growth phase. You can try to break our site, play with it, try to mess up as bad as you can. Any flaw that comes up, I hope will come up now so we can fix it and move on! :) 
  <br>
  <br>
  Also, in case you were wondering, your password is safely encrypted. It comes to us hashed. Yay! Our site will hold as little information about you as possible to keep you safe. Please choose a safe, secure password that you do not use on other sites as a precaution. Thanks.
  <br><br>
  Thank you for your time and patience! You guys are the future!
  <br><br><br>
  -DDMM
  </p>
</div>
