<div class="content_wrapper_main">
<% if member_signed_in? %>
  <%= render partial: "members/grid_item", :as => :member, :collection => current_member.following %>
<% else %>
  This is where your the members you follow are listed.
<% end %>
</div>

