<div class="content_wrapper_main">
  <h1>Need some help? <br>Or even better... have a comment? suggestion?</h1>
  <p>
  If you need any help, contact Mimi by email or text. 
  <br><br>
  If the site really needs help, contact her by email or text.
  <br><br>
  If you have a comment or suggestion, help input it <%= link_to "here", new_suggestion_path %>.
  </p>
</div>

