<div id="hero-box">
  <div class="logo"><%= image_tag("ddmimi-rabbit.png") %></div>
  <div>TUZI CHEF</div>
  <div id="lang-tuzi">兔子 thỏ</div>
  <div id="lang-tuzi">토끼 ウサギ</div>
  <div id="hero-text">COMING</div>
  <div id="hero-text"> SOON</div>
</div>

