<div class="content_wrapper_main">
  <h3>We take your privacy very seriously.</h3>
  <p>
  Your password is encrypted. We do not actually handle the raw passwords. Maybe no one actually does. 
  </p>
</div>
