<div class="content_wrapper_main">
  <h1>Our Vision</h1>
  <p>
  Our vision is wide, all encompassing, and exciting!
  </p>
  <p>
  We are working on implementing a lot of functionality. As soon as we test them thoroughly locally, we slowly roll them into the site. Sometimes something may break. If it does, please let us know through email or text and we will resolve the problems. Thanks for helping us in this super important task of testing our site!
  </p>
  Best,<br>
  DDMM
  <br>
  <%= image_tag("beet.png") %>
</div>
