<div class="content_wrapper_main recipe_form">
  <script>
  <% create_ingreds = 0 %>
  <% create_steps = 0 %>
  <% if destringify(@recipe.j_ingreds) == "" %>
     <%  create_ingreds = 1  %>
  <% end %>
  <% if destringify(@recipe.j_steps) == "" %>
     <%  create_steps = 1  %>
  <% end %>
  </script>
  
  <%= render 'form' %>
</div>
