<%= link_to 'New Recipe', new_recipe_path %>
<% @recipes.each do |recipe| %>
  <div class="search_result_recipe">
    <%= link_to recipe.name, recipe, class: "search_result_recipe_name" %><br>
    <%= link_to "> "+recipe.author.user_name, recipe.author, class: "search_result_recipe_author" %>
  </div>
<% end %>

<br>


