<%= link_to 'New Recipe', new_recipe_path %>
<% @recipes.each do |recipe| %>
  <div class="recipe_search">
    <h2><%= link_to recipe.name, recipe, class: "search_result" %><h2>
    <h3><%= link_to recipe.author.user_name, recipe.author %></h3>
  </div>
<% end %>

<br>


