<div id="recipe_form_page">
<div><span id="recipe_page_header">ADD NEW RECIPE</span></div>
<% create_ingreds = 1 %>
<% create_steps = 1 %>

<%= render 'form' %>

<%= link_to 'Back', recipes_path %>
</div>
