@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
/**reset default styles**/
body 
{
  margin: 0;
  padding: 0;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 595px;
  height: 100%;
  font-family: 'Roboto', arial, tahoma;
  font-size: 12px;
  color: #585858;
  letter-spacing: .02em;
}

ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  color: black;
}

div#main-dash {
  position: fixed;
  width: 100px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-right: 1px black solid;
  
  a#logo{
     display: block;
	 text-align: center;
     padding: 15px 0 10px 0;
  }
  
  ul#nav {
    li {
	  display: block;
	  text-align: center;
	  margin: 5px 0 5px 0;
	  padding: 15px 0 15px 0;
	}
	li#user_lock_link {
	  position: fixed;
	  padding-bottom: 15px;
	  margin-bottom: 0px;
	  bottom: 0px;
	  width: 100px;
	  background-color: white;
	}
  }
}

div#main {
  position: absolute;
  left: 101px;
  top: 0px;
  bottom: 0px;
  

}

.content_wrapper_super 
{
  position: static;
  width: 100%;
}

div#top-links {
  ul {
	li {
	  display:inline-block;
	  padding-top: 15px; /* match logo*/
	  padding-left: 40px;
	}
  }
}

div#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: .5;
  background-color: black;
}

div#new_list_div {
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 200;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
}

div#extra_options {
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: 200;  
  width: 200px;
  background-color: #bbbbbb;
  color: white;
  border-radius: 1px;
  
  ul {
    li {
	  display: block;
	  padding: 10px 5px 10px 5px;
	  border-bottom: 1px white solid;
	  cursor: pointer;
	  a {
	    display: block;
	  }
	}
  }
}

a.link_extra_options {
  cursor: pointer;
}

.notify {
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 300;
  padding: 10px 10px 10px 10px;
  background-color: black;
  color: white;
}

.search
{
  height: 300px;
  height: 80vh;
  background: #B2E6FF;
  position: fixed;
  width: 100%;
  top: 35px;
  right: 0;
  box-shadow: -4px 1px 21px 3px #ddd;
  display: none;
  z-index: 3;
 
  form
  {
    width: 100%;
  
    .search_box
    {
      width: 60%;
      border: #ddd;
      min-width: 150px;
      position: absolute;
      margin-top: 4px;
      top: 20px;
      border-radius: 6em;
      padding: .5em;
      margin: 1em;
    }
    
    .search_bttn
    {
      width: 36px;
      height: 31px;
      background-size: 100%;
      background-repeat: no-repeat;
      border: none;
      position: absolute;
      top: 20px;
      left: 71%;
      margin-top: 1em;
      cursor: pointer;
      img {
        float: left;
        width: 100%;
      }
    }
  }

  ul#search_action_choices {
    padding: 10px 15px;
  
    li {
      list-style: outside none none;
      display: inline-block;
    }
  }

  span#hide_search {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
  }

}

div#list_index_total_list {
  ul#list_index_list {
    li {
	  display: block;
	  
      a#focused {
	    color: red;
      }
	  a {
	    display: block;
	  }
    }
  }
}

div.list_index_recipe_list {
  display:none;
}
div#focused_recipe_list {
  display: block;
}


 
 


