// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_recipe {
  textarea#recipe_about {
    width: 590px;
  }
}
.ingred_text {
    background: #E0F0FF;
}
.listed_text_item > textarea {
  border-style: none;
  width: 530px;
  margin: 0px 0px 0px 5px;
  color: #383838;
  font-size: 14px;
  line-height: 35px;
  height: 40px;
  resize: none;
  overflow: auto;
  vertical-align: top;
  background: transparent;
}
div.listed_text_item {
  width: 590px;
  backface-visibility: hidden;
  background: none repeat scroll 0% 0% 	#FFCC66;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.215, .61, .355, 1) 0s;
  transform: perspective(250px);
  transform-origin: center top 0px;
}
.listed_text_item:nth-child(2n) {
  background: none repeat scroll 0% 0% #FFFFC2;
}
.round_button {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: auto;
    height: 100%;
    right: 8px;
    width:20px;
    height:20px;
    line-height:20px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    font-size:10px;
    font-weight:bold;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}
div.round_number {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 4px;
    height: 100%;
    width:20px;
    height:20px;
    line-height:20px;
    border-radius: 50%;
    color:#000000;
    text-align:center;
    text-decoration:none;
    background: #9b9b9b;
    font-size:10px;
    font-weight:bold;
    font-family: Arial;
    margin-right: 4px;
}

div#recipes_index {
  width: 100%;
}

div#left_filter_options {
  width: 30%;
  float: left;
}

div#right_recipes_results {
  width: 65%;
}

div#recipes_index {

  div#left_filter_options {
    padding-right: 20px;
    margin-right: 20px; 
    overflow: auto-scroll;

    div#filter_title {
      color: black;
      font-size: 18px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }
    div.filter_tag_type {
      padding-top: 10px;

      div.tag_type_name {
        color: black;
      }

      div.tag_type_description {
        font-size: 14px;
        line-height: 15px;
        color: #4C0000;
      }

      div.tag_type_description:before {
        content: "♣";
      }
    }
  }
}



a.search_result_recipe_name {
  font-size: 15px;
  color: green;
}

a.search_result_recipe_author {
  font-size: 12px;
  color: black;
  padding-left: 5px;
}
a.search_result_recipe_author::before {
  content: "✎";
}


div.search_result_recipe {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Recipe show page*/
div#recipe_show_body {
  width: 600px;
  margin-left: 50px;
}
