
body {
  background-color: #fff;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  a {
    color:  #333300;
  }
}

div.main_logo {
  img {
    height: 80px;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  &:visited {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: 	#E86C19;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid 	#E86C19;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: 	#E86C19;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: 	#E86C19;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/*
search start
*/
div.nav_search {
  input#search {
  }
}
