<h1>Meet the members</h1>

<table>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.user_name, member %></td>
        <td><%= member.occupation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

